# Bike sharing


### Understanding the Dataset

##### Independent Variables
- datetime:   date and hour in "mm/dd/yyyy hh:mm" format
- season:     Four categories-> 1 = spring, 2 = summer, 3 = fall, 4 = winter
- holiday:    whether the day is a holiday or not (1/0)
- workingday: whether the day is neither a weekend nor holiday (1/0)
- weather:    Four Categories of weather
            1-> Clear, Few clouds, Partly cloudy, Partly cloudy
            2-> Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
            3-> Light Snow and Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
            4-> Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp:       hourly temperature in Celsius
- atemp:      "feels like" temperature in Celsius
- humidity:   relative humidity
- windspeed:  wind speed

##### Dependent Variables
- registered: number of registered user
- casual:     number of non-registered user
- count:      number of total rentals (registered + casual)

In [1]:
import os
print(os.listdir("../dataset/Bike-Sharing-Dataset/"))

['day.csv', 'hour.csv', 'Readme.txt']

In [2]:
#Loading all the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

In [3]:
# Importing the data
df = pd.read_csv("../dataset/Bike-Sharing-Dataset/day.csv")

In [4]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [5]:
df.shape

(731, 16)

In [6]:
# Looking at al the unique values in the column

df.nunique()

instant       731
dteday        731
season          4
yr              2
mnth           12
holiday         2
weekday         7
workingday      2
weathersit      3
temp          499
atemp         690
hum           595
windspeed     650
casual        606
registered    679
cnt           696
dtype: int64

In [7]:
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [8]:
#Checking in there are any null values in the columns and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
instant       731 non-null int64
dteday        731 non-null object
season        731 non-null int64
yr            731 non-null int64
mnth          731 non-null int64
holiday       731 non-null int64
weekday       731 non-null int64
workingday    731 non-null int64
weathersit    731 non-null int64
temp          731 non-null float64
atemp         731 non-null float64
hum           731 non-null float64
windspeed     731 non-null float64
casual        731 non-null int64
registered    731 non-null int64
cnt           731 non-null int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

%matplotlib inline
import matplotlib.pyplot as plt

In [10]:
df["casual"]

0       331
1       131
2       120
3       108
4        82
5        88
6       148
7        68
8        54
9        41
10       43
11       25
12       38
13       54
14      222
15      251
16      117
17        9
18       78
19       83
20       75
21       93
22      150
23       86
24      186
25       34
26       15
27       38
28      123
29      140
       ...
701     892
702     555
703     551
704     331
705     340
706     349
707    1153
708     441
709     329
710     282
711     310
712     425
713     429
714     767
715     538
716     212
717     433
718     333
719     314
720     221
721     205
722     408
723     174
724     440
725       9
726     247
727     644
728     159
729     364
730     439
Name: casual, Length: 731, dtype: int64

In [11]:
df["casual"] = np.nan
df["registered"] = np.nan
df["cnt"] = np.nan

In [12]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual        float64
registered    float64
cnt           float64
dtype: object

In [13]:
# chaning datatime datatype
df['dteday'] = pd.to_datetime(df["dteday"])

In [14]:
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,0.0,0.0,0.0
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,NaN,NaN,NaN
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,NaN,NaN,NaN
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,NaN,NaN,NaN
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,NaN,NaN,NaN
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,NaN,NaN,NaN
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,NaN,NaN,NaN
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,NaN,NaN,NaN

In [15]:
df.info

<bound method DataFrame.info of      instant     dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1 2011-01-01       1   0     1        0        6           0
1          2 2011-01-02       1   0     1        0        0           0
2          3 2011-01-03       1   0     1        0        1           1
3          4 2011-01-04       1   0     1        0        2           1
4          5 2011-01-05       1   0     1        0        3           1
5          6 2011-01-06       1   0     1        0        4           1
6          7 2011-01-07       1   0     1        0        5           1
7          8 2011-01-08       1   0     1        0        6           0
8          9 2011-01-09       1   0     1        0        0           0
9         10 2011-01-10       1   0     1        0        1           1
10        11 2011-01-11       1   0     1        0        2           1
11        12 2011-01-12       1   0     1        0        3           1
12        13 2011-01-13       1   0     1        0        4           1
13        14 2011-01-14       1   0     1        0        5           1
14        15 2011-01-15       1   0     1        0        6           0
15        16 2011-01-16       1   0     1        0        0           0
16        17 2011-01-17       1   0     1        1        1           0
17        18 2011-01-18       1   0     1        0        2           1
18        19 2011-01-19       1   0     1        0        3           1
19        20 2011-01-20       1   0     1        0        4           1
20        21 2011-01-21       1   0     1        0        5           1
21        22 2011-01-22       1   0     1        0        6           0
22        23 2011-01-23       1   0     1        0        0           0
23        24 2011-01-24       1   0     1        0        1           1
24        25 2011-01-25       1   0     1        0        2           1
25        26 2011-01-26       1   0     1        0        3           1
26        27 2011-01-27       1   0     1        0        4           1
27        28 2011-01-28       1   0     1        0        5           1
28        29 2011-01-29       1   0     1        0        6           0
29        30 2011-01-30       1   0     1        0        0           0
..       ...        ...     ...  ..   ...      ...      ...         ...
701      702 2012-12-02       4   1    12        0        0           0
702      703 2012-12-03       4   1    12        0        1           1
703      704 2012-12-04       4   1    12        0        2           1
704      705 2012-12-05       4   1    12        0        3           1
705      706 2012-12-06       4   1    12        0        4           1
706      707 2012-12-07       4   1    12        0        5           1
707      708 2012-12-08       4   1    12        0        6           0
708      709 2012-12-09       4   1    12        0        0           0
709      710 2012-12-10       4   1    12        0        1           1
710      711 2012-12-11       4   1    12        0        2           1
711      712 2012-12-12       4   1    12        0        3           1
712      713 2012-12-13       4   1    12        0        4           1
713      714 2012-12-14       4   1    12        0        5           1
714      715 2012-12-15       4   1    12        0        6           0
715      716 2012-12-16       4   1    12        0        0           0
716      717 2012-12-17       4   1    12        0        1           1
717      718 2012-12-18       4   1    12        0        2           1
718      719 2012-12-19       4   1    12        0        3           1
719      720 2012-12-20       4   1    12        0        4           1
720      721 2012-12-21       1   1    12        0        5           1
721      722 2012-12-22       1   1    12        0        6           0
722      723 2012-12-23       1   1    12        0        0           0
723      724 2012-12-24       1   1    12        0        1           1
724      725 2012-12-25       1   1    12        1        2           0
725      726 2012-12-26       1   1    12        0        3           1
726      727 2012-12-27       1   1    12        0        4           1
727      728 2012-12-28       1   1    12        0        5           1
728      729 2012-12-29       1   1    12        0        6           0
729      730 2012-12-30       1   1    12        0        0           0
730      731 2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     NaN         NaN
1             2  0.363478  0.353739  0.696087   0.248539     NaN         NaN
2             1  0.196364  0.189405  0.437273   0.248309     NaN         NaN
3             1  0.200000  0.212122  0.590435   0.160296     NaN         NaN
4             1  0.226957  0.229270  0.436957   0.186900     NaN         NaN
5             1  0.204348  0.233209  0.518261   0.089565     NaN         NaN
6             2  0.196522  0.208839  0.498696   0.168726     NaN         NaN
7             2  0.165000  0.162254  0.535833   0.266804     NaN         NaN
8             1  0.138333  0.116175  0.434167   0.361950     NaN         NaN
9             1  0.150833  0.150888  0.482917   0.223267     NaN         NaN
10            2  0.169091  0.191464  0.686364   0.122132     NaN         NaN
11            1  0.172727  0.160473  0.599545   0.304627     NaN         NaN
12            1  0.165000  0.150883  0.470417   0.301000     NaN         NaN
13            1  0.160870  0.188413  0.537826   0.126548     NaN         NaN
14            2  0.233333  0.248112  0.498750   0.157963     NaN         NaN
15            1  0.231667  0.234217  0.483750   0.188433     NaN         NaN
16            2  0.175833  0.176771  0.537500   0.194017     NaN         NaN
17            2  0.216667  0.232333  0.861667   0.146775     NaN         NaN
18            2  0.292174  0.298422  0.741739   0.208317     NaN         NaN
19            2  0.261667  0.255050  0.538333   0.195904     NaN         NaN
20            1  0.177500  0.157833  0.457083   0.353242     NaN         NaN
21            1  0.059130  0.079070  0.400000   0.171970     NaN         NaN
22            1  0.096522  0.098839  0.436522   0.246600     NaN         NaN
23            1  0.097391  0.117930  0.491739   0.158330     NaN         NaN
24            2  0.223478  0.234526  0.616957   0.129796     NaN         NaN
25            3  0.217500  0.203600  0.862500   0.293850     NaN         NaN
26            1  0.195000  0.219700  0.687500   0.113837     NaN         NaN
27            2  0.203478  0.223317  0.793043   0.123300     NaN         NaN
28            1  0.196522  0.212126  0.651739   0.145365     NaN         NaN
29            1  0.216522  0.250322  0.722174   0.073983     NaN         NaN
..          ...       ...       ...       ...        ...     ...         ...
701           2  0.347500  0.359208  0.823333   0.124379     NaN         NaN
702           1  0.452500  0.455796  0.767500   0.082721     NaN         NaN
703           1  0.475833  0.469054  0.733750   0.174129     NaN         NaN
704           1  0.438333  0.428012  0.485000   0.324021     NaN         NaN
705           1  0.255833  0.258204  0.508750   0.174754     NaN         NaN
706           2  0.320833  0.321958  0.764167   0.130600     NaN         NaN
707           2  0.381667  0.389508  0.911250   0.101379     NaN         NaN
708           2  0.384167  0.390146  0.905417   0.157975     NaN         NaN
709           2  0.435833  0.435575  0.925000   0.190308     NaN         NaN
710           2  0.353333  0.338363  0.596667   0.296037     NaN         NaN
711           2  0.297500  0.297338  0.538333   0.162937     NaN         NaN
712           1  0.295833  0.294188  0.485833   0.174129     NaN         NaN
713           1  0.281667  0.294192  0.642917   0.131229     NaN         NaN
714           1  0.324167  0.338383  0.650417   0.106350     NaN         NaN
715           2  0.362500  0.369938  0.838750   0.100742     NaN         NaN
716           2  0.393333  0.401500  0.907083   0.098258     NaN         NaN
717           1  0.410833  0.409708  0.666250   0.221404     NaN         NaN
718           1  0.332500  0.342162  0.625417   0.184092     NaN         NaN
719           2  0.330000  0.335217  0.667917   0.132463     NaN         NaN
720           2  0.326667  0.301767  0.556667   0.374383     NaN         NaN
721           1  0.265833  0.236113  0.441250   0.407346     NaN         NaN
722           1  0.245833  0.259471  0.515417   0.133083     NaN         NaN
723           2  0.231304  0.258900  0.791304   0.077230     NaN         NaN
724           2  0.291304  0.294465  0.734783   0.168726     NaN         NaN
725           3  0.243333  0.220333  0.823333   0.316546     NaN         NaN
726           2  0.254167  0.226642  0.652917   0.350133     NaN         NaN
727           2  0.253333  0.255046  0.590000   0.155471     NaN         NaN
728           2  0.253333  0.242400  0.752917   0.124383     NaN         NaN
729           1  0.255833  0.231700  0.483333   0.350754     NaN         NaN
730           2  0.215833  0.223487  0.577500   0.154846     NaN         NaN

     cnt
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
..   ...
701  NaN
702  NaN
703  NaN
704  NaN
705  NaN
706  NaN
707  NaN
708  NaN
709  NaN
710  NaN
711  NaN
712  NaN
713  NaN
714  NaN
715  NaN
716  NaN
717  NaN
718  NaN
719  NaN
720  NaN
721  NaN
722  NaN
723  NaN
724  NaN
725  NaN
726  NaN
727  NaN
728  NaN
729  NaN
730  NaN

[731 rows x 16 columns]>

### Feature engineering

In [19]:
df['year'] = df['dteday'].dt.year
df['month'] = df['dteday'].dt.month
df['hour'] = df['dteday'].dt.hour
df['DOW'] = df['dteday'].dt.dayofweek

In [20]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,NaN,NaN,NaN,2011
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,NaN,NaN,NaN,2011
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,NaN,NaN,NaN,2011
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,NaN,NaN,NaN,2011
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,NaN,NaN,NaN,2011